<h3>House Prices Regression Analysis</h3>
<h5>--A Kaggle Project--</h5>

<h4>Steps for the Project</h4>
<ul>
    <li>Loading Datasets</li>
    <ul>
        <li>Loading both train and test datasets </li>
    </ul>
</ul>
<ul>
    <li>Summary of Data</li>
    <ul>
        <li>Total Samples</li>
        <li>Total Features</li>
        <li>Total Categorical Features</li>
        <li>Total Numerical Features</li>
        <li>Statistics of Numerical Features</li>
        <li>Value Count of Categorical Features</li>
        <li>Unique Values DataFrame</li>
        <li>Null Values DataFrame</li>
    </ul>
</ul>
<ul>
    <li>Preprocessing</li>
    <ul>
        <li>Drop Duplicates</li>
        <li>Drop Columns with more than 80% null values</li>
        <li>Drop uninformative columns</li>
        <li>Drop Columns with single unique values</li>
        <li>Inpute Null Values</li>
        <li>Create New Features</li>
        <li>Outlier Analysis and Removal</li>
        <li>Drop Columns with single unique values again after outlier analysis</li>
    </ul>
</ul>
<ul>
    <li>Data Visualization</li>
    <ul>
        <li>Scatterplot of numerical features</li>
        <li>Distribution of numerical features</li>
        <li>BarCharts of categorical features</li>
        <li>Box plots to check the outliers</li>
    </ul>
</ul>
<ul>
    <li>Feature Transformation</li>
    <ul>
        <li>Changing the distribution of numerical features to Gaussian (Normal)</li></ul>
<li>Encoding</li>
    <ul>
    <li>Some of the categorical features are nominal and some are ordinal. We need to encode them separately.
<li>For ordinal features, we will do label encoding</li>
<li>For nominal features, we will do dummy encoding</li>
    </ul>
    <li><h4>Model Training & Evaluation</h4></li>
    <ul>
    <li>Perform Scaling
        <ul>
            <li>MinMax Scaling</li>
<li>Variance Scaling (Standard Scaler)</li>
        </ul>
</li>
    </ul>
    <li>Fitting Different Regression Models</li>
    <ul>
        <li>Linear Regression
<li>Polynomial Regression (with interaction features)</li>
<li>Ridge Regression</li>
<li>Lasso Regression</li>
<li>SGD Regression</li>
<li>Elastic Regression</li>
<li>Bayesian Ridge</li>
<li>Huber Regression (robust to outliers)</li>
<li>RANSAC Regression (robust to outliers)</li>
<li>XGB Regressor</li>
<li>Ensemble Regressor</li>
<li>Random Forest</li>
<li>Gradient Boosting</li>
<li>AdaBoosting</li>
<li>Bagging Regressor</li>
<li>ExtraTreesRegressor</li>
    </ul>
    <li>Feature Selection</li>
    <ul>
        <li>Selecting strong numerical features using Pearsonâ€™s Correlation Coefficient
<li>Selecting strong categorical using ANOVA</li>
    </ul>
    <li>Feature Selection</li>
    <ul>
    <li>Using PCA to perform dimensionality reduction.</li>
<li>Don't forget to scale your data before doing PCA.</li>
    </ul>
    <li>Model Training & Evaluation With Strong Features Only
<ul>
    <li>Using the same models as stated above.
</li>
</ul>
</li>
    <li>Conclusion</li>
    <ul>
        <li>Which model performed the best one with using all the features or the one with the strong features only ?</li>
    </ul>
    <li>Hyperameter Tuning</li>
    <ul>
    <li>Tuning the parameters of the best mode</li>
    </ul>
    <li>Feature Engineering Analysis</li>
    <ul>
     <li>Comparison of the scores of the different feature engineering steps.  </li>
    </ul>
    <li>STORY TELLING FROM THE RESULT ANALYSIS</li>
    <ul>
        <li>Simple interpretation of the results in layman language.</li>
    </ul>
</ul>

In [1]:
# Loading data
import numpy as np
import pandas as pd
from pandas.api.types import is_numeric_dtype, is_object_dtype
train_df = pd.read_csv("home-data-for-ml-course/train.csv")
test_df = pd.read_csv("home-data-for-ml-course/test.csv")

In [2]:
#view train dataset
train_df.head(5)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [3]:
# View test dataset
test_df.head(5)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

<h4>Summary Of Data</h4>
<ul>
<li>Total Samples
<li>Total Features</li>
<li>Total Categorical Features</li>
<li>Total Numerical Features</li>
<li>Stats of Numerical Features</li>
<li>Value Count of Categorical Features</li>
<li>Unique Values DataFrame</li>
<li>Null Values DataFrame</li>
</ul>

In [4]:
# Identify numerical & categorical features
def get_cat_num_features(df):
    """
    Identifies and separates numerical and categorical features from a DataFrame.

    Parameters:
    df (pd.DataFrame): Input DataFrame.

    Returns:
    tuple: A tuple containing two lists:
        - num_features: List of numerical feature column names.
        - cat_features: List of categorical feature column names.
    """
    num_features = []
    cat_features = []

    for col in df.columns:
        if is_numeric_dtype(df[col]):
            num_features.append(col)
        if is_object_dtype(df[col]):
            cat_features.append(col)
    return num_features, cat_features

In [5]:
#  Creates a DataFrame containing unique values and their counts for each feature.
def get_unique_df(features):
    """
    Creates a DataFrame containing unique values and their counts for each feature.

    Parameters:
    features (pd.DataFrame): Input DataFrame containing features.

    Returns:
    pd.DataFrame: DataFrame with columns:
        - 'Feature': Feature name.
        - 'Unique': Array of unique values in the feature.
        - 'Count': Number of unique values.
    """
    unique_list = []  # List to store individual entries for each feature
    
    for col in features.columns:
        v = features[col].unique()  # Get unique values
        l = len(v)  # Count of unique values
        unique_list.append({"Feature": col, "Unique": v, "Count": l})  # Append to list

    # Create a DataFrame from the list of dictionaries
    unique_df = pd.DataFrame(unique_list)
    
    return unique_df

In [6]:
# Identifies columns with missing values and summarizes the missing data.
from pandas.api.types import is_numeric_dtype

def get_null_df(features: pd.DataFrame) -> pd.DataFrame:
    """
    Identifies columns with missing values and summarizes the missing data.

    Parameters:
    features (pd.DataFrame): Input DataFrame containing features.

    Returns:
    pd.DataFrame: DataFrame with columns:
        - 'Column': Name of the column.
        - 'Type': Data type of the column (Numerical or Categorical).
        - 'Total NaN': Total number of missing values.
        - '%': Percentage of missing values relative to the total rows.
    """
    # Initialize a list to collect row data
    null_data = []

    # Identify columns with missing values
    col_null = features.columns[features.isna().any()].to_list()
    total_rows = len(features)

    for col in col_null:
        col_type = "Numerical" if is_numeric_dtype(features[col]) else "Categorical"
        null_count = features[col].isna().sum()
        
        # Append a dictionary for each column's information to the list
        null_data.append({
            "Column": col,
            "Type": col_type,
            "Total NaN": null_count,
            "%": (null_count / total_rows) * 100
        })

    # Create a DataFrame from the collected data
    return pd.DataFrame(null_data)

In [7]:
# Summary Function
def summary(data):
    """
    Provides a comprehensive summary of the dataset, including:
    - Total samples and features.
    - Numerical and categorical features.
    - Descriptive statistics.
    - Value counts of categorical features.
    - DataFrames summarizing unique values and missing values.

    Parameters:
    data (pd.DataFrame): Input DataFrame with the target column 'SalePrice'.

    Returns:
    dict: A dictionary containing:
        - 'features': DataFrame of features excluding the target column.
        - 'target': Target column (SalePrice).
        - 'stats': Descriptive statistics for numerical features.
        - 'unique_df': DataFrame summarizing unique values of each feature.
        - 'col_null_df': DataFrame summarizing columns with missing values.
    """
    print("Samples --> ", len(data))
    print()
    
    target = data['SalePrice']
    features = data.drop(['SalePrice'], axis=1)
    
    print("Features --> ", len(features.columns))
    print("\n", features.columns)
    
    num_features, cat_features = get_cat_num_features(features)
    
    print()
    print("\nNumerical Features --> ", len(num_features))
    print()
    print(num_features)
    print()
    print("Categorical Features -->", len(cat_features))
    print()
    print(cat_features)
    print()
    print("*************************************************")
    
    stats = features.describe().T
    print()
    print("Value counts of each categorical feature\n")
    for col in cat_features:
        print(col)
        print(features[col].value_counts())
        print()
        
    unique_df = get_unique_df(features)
    col_null_df = get_null_df(features)
    
    return {'features': features, 
            'target': target, 
            'stats': stats, 
            'unique_df': unique_df, 
            'col_null_df': col_null_df}

In [8]:
df_summary = summary(train_df)

Samples -->  1460

Features -->  80

 Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition'],
      dtype='object')


Numerical Features -->  37

['Id', 'MSSubClass', 'LotFrontage', 'LotArea', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd', 'MasVnrArea', 'BsmtFinSF1', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', '1stFlrSF', '2ndFlrSF', 'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath', 'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'TotRmsAbvGrd', 'Fireplaces', 'GarageYrBlt', 'GarageCars', 'GarageArea', 'WoodDeckSF', 'OpenPorchSF', 'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'MiscVal', 'MoSold', 'YrSold']

Categorical Features --> 43

['MSZoning', 'Street', 'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig', 'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType', 'HouseStyle', 'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2', 'Heating', 'HeatingQC', 'CentralAir', 'Electrical', 'KitchenQual', 'Functional', 'FireplaceQu', 'GarageType', 'GarageFinish', 'GarageQual', 'GarageCond', 'PavedDrive', 'PoolQC', 'Fence', 'MiscFeature', 'SaleType', 'SaleCondition']

*************************************************

Value counts of each categorical feature

MSZoning
MSZoning
RL         1151
RM          218
FV           65
RH           16
C (all)      10
Name: count, dtype: int64

Street
Street
Pave    1454
Grvl       6
Name: count, dtype: int64

Alley
Alley
Grvl    50
Pave    41
Name: count, dtype: int64

LotShape
LotShape
Reg    925
IR1    484
IR2     41
IR3     10
Name: count, dtype: int64

LandContour
LandContour
Lvl    1311
Bnk      63
HLS      50
Low      36
Name: count, dtype: int64

Utilities
Utilities
AllPub    1459
NoSeWa       1
Name: count, dtype: int64

LotConfig
LotConfig
Inside     1052
Corner      263
CulDSac      94
FR2          47
FR3           4
Name: count, dtype: int64

LandSlope
LandSlope
Gtl    1382
Mod      65
Sev      13
Name: count, dtype: int64

Neighborhood
Neighborhood
NAmes      225
CollgCr    150
OldTown    113
Edwards    100
Somerst     86
Gilbert     79
NridgHt     77
Sawyer      74
NWAmes      73
SawyerW     59
BrkSide     58
Crawfor     51
Mitchel     49
NoRidge     41
Timber      38
IDOTRR      37
ClearCr     28
SWISU       25
StoneBr     25
Blmngtn     17
MeadowV     17
BrDale      16
Veenker     11
NPkVill      9
Blueste      2
Name: count, dtype: int64

Condition1
Condition1
Norm      1260
Feedr       81
Artery      48
RRAn        26
PosN        19
RRAe        11
PosA         8
RRNn         5
RRNe         2
Name: count, dtype: int64

Condition2
Condition2
Norm      1445
Feedr        6
Artery       2
RRNn         2
PosN         2
PosA         1
RRAn         1
RRAe         1
Name: count, dtype: int64

BldgType
BldgType
1Fam      1220
TwnhsE     114
Duplex      52
Twnhs       43
2fmCon      31
Name: count, dtype: int64

HouseStyle
HouseStyle
1Story    726
2Story    445
1.5Fin    154
SLvl       65
SFoyer     37
1.5Unf     14
2.5Unf     11
2.5Fin      8
Name: count, dtype: int64

RoofStyle
RoofStyle
Gable      1141
Hip         286
Flat         13
Gambrel      11
Mansard       7
Shed          2
Name: count, dtype: int64

RoofMatl
RoofMatl
CompShg    1434
Tar&Grv      11
WdShngl       6
WdShake       5
Metal         1
Membran       1
Roll          1
ClyTile       1
Name: count, dtype: int64

Exterior1st
Exterior1st
VinylSd    515
HdBoard    222
MetalSd    220
Wd Sdng    206
Plywood    108
CemntBd     61
BrkFace     50
WdShing     26
Stucco      25
AsbShng     20
BrkComm      2
Stone        2
AsphShn      1
ImStucc      1
CBlock       1
Name: count, dtype: int64

Exterior2nd
Exterior2nd
VinylSd    504
MetalSd    214
HdBoard    207
Wd Sdng    197
Plywood    142
CmentBd     60
Wd Shng     38
Stucco      26
BrkFace     25
AsbShng     20
ImStucc     10
Brk Cmn      7
Stone        5
AsphShn      3
Other        1
CBlock       1
Name: count, dtype: int64

MasVnrType
MasVnrType
BrkFace    445
Stone      128
BrkCmn      15
Name: count, dtype: int64

ExterQual
ExterQual
TA    906
Gd    488
Ex     52
Fa     14
Name: count, dtype: int64

ExterCond
ExterCond
TA    1282
Gd     146
Fa      28
Ex       3
Po       1
Name: count, dtype: int64

Foundation
Foundation
PConc     647
CBlock    634
BrkTil    146
Slab       24
Stone       6
Wood        3
Name: count, dtype: int64

BsmtQual
BsmtQual
TA    649
Gd    618
Ex    121
Fa     35
Name: count, dtype: int64

BsmtCond
BsmtCond
TA    1311
Gd      65
Fa      45
Po       2
Name: count, dtype: int64

BsmtExposure
BsmtExposure
No    953
Av    221
Gd    134
Mn    114
Name: count, dtype: int64

BsmtFinType1
BsmtFinType1
Unf    430
GLQ    418
ALQ    220
BLQ    148
Rec    133
LwQ     74
Name: count, dtype: int64

BsmtFinType2
BsmtFinType2
Unf    1256
Rec      54
LwQ      46
BLQ      33
ALQ      19
GLQ      14
Name: count, dtype: int64

Heating
Heating
GasA     1428
GasW       18
Grav        7
Wall        4
OthW        2
Floor       1
Name: count, dtype: int64

HeatingQC
HeatingQC
Ex    741
TA    428
Gd    241
Fa     49
Po      1
Name: count, dtype: int64

CentralAir
CentralAir
Y    1365
N      95
Name: count, dtype: int64

Electrical
Electrical
SBrkr    1334
FuseA      94
FuseF      27
FuseP       3
Mix         1
Name: count, dtype: int64

KitchenQual
KitchenQual
TA    735
Gd    586
Ex    100
Fa     39
Name: count, dtype: int64

Functional
Functional
Typ     1360
Min2      34
Min1      31
Mod       15
Maj1      14
Maj2       5
Sev        1
Name: count, dtype: int64

FireplaceQu
FireplaceQu
Gd    380
TA    313
Fa     33
Ex     24
Po     20
Name: count, dtype: int64

GarageType
GarageType
Attchd     870
Detchd     387
BuiltIn     88
Basment     19
CarPort      9
2Types       6
Name: count, dtype: int64

GarageFinish
GarageFinish
Unf    605
RFn    422
Fin    352
Name: count, dtype: int64

GarageQual
GarageQual
TA    1311
Fa      48
Gd      14
Ex       3
Po       3
Name: count, dtype: int64

GarageCond
GarageCond
TA    1326
Fa      35
Gd       9
Po       7
Ex       2
Name: count, dtype: int64

PavedDrive
PavedDrive
Y    1340
N      90
P      30
Name: count, dtype: int64

PoolQC
PoolQC
Gd    3
Ex    2
Fa    2
Name: count, dtype: int64

Fence
Fence
MnPrv    157
GdPrv     59
GdWo      54
MnWw      11
Name: count, dtype: int64

MiscFeature
MiscFeature
Shed    49
Gar2     2
Othr     2
TenC     1
Name: count, dtype: int64

SaleType
SaleType
WD       1267
New       122
COD        43
ConLD       9
ConLI       5
ConLw       5
CWD         4
Oth         3
Con         2
Name: count, dtype: int64

SaleCondition
SaleCondition
Normal     1198
Partial     125
Abnorml     101
Family       20
Alloca       12
AdjLand       4
Name: count, dtype: int64

In [9]:
# Features with only 1 unique value
df_summary['unique_df'][df_summary['unique_df']['Count'] == 1]

Empty DataFrame
Columns: [Feature, Unique, Count]
Index: []

In [10]:
# Features with null values
df_summary['col_null_df']

          Column         Type  Total NaN          %
0    LotFrontage    Numerical        259  17.739726
1          Alley  Categorical       1369  93.767123
2     MasVnrType  Categorical        872  59.726027
3     MasVnrArea    Numerical          8   0.547945
4       BsmtQual  Categorical         37   2.534247
5       BsmtCond  Categorical         37   2.534247
6   BsmtExposure  Categorical         38   2.602740
7   BsmtFinType1  Categorical         37   2.534247
8   BsmtFinType2  Categorical         38   2.602740
9     Electrical  Categorical          1   0.068493
10   FireplaceQu  Categorical        690  47.260274
11    GarageType  Categorical         81   5.547945
12   GarageYrBlt    Numerical         81   5.547945
13  GarageFinish  Categorical         81   5.547945
14    GarageQual  Categorical         81   5.547945
15    GarageCond  Categorical         81   5.547945
16        PoolQC  Categorical       1453  99.520548
17         Fence  Categorical       1179  80.753425
18   MiscFeature  Categorical       1406  96.301370

In [11]:
# stats of the numerical feature
df_summary['stats']

,count,mean,std,min,25%,50%,75%,max
Id,1460.0,730.500000,421.610009,1.0,365.75,730.5,1095.25,1460.0
MSSubClass,1460.0,56.897260,42.300571,20.0,20.00,50.0,70.00,190.0
LotFrontage,1201.0,70.049958,24.284752,21.0,59.00,69.0,80.00,313.0
LotArea,1460.0,10516.828082,9981.264932,1300.0,7553.50,9478.5,11601.50,215245.0
OverallQual,1460.0,6.099315,1.382997,1.0,5.00,6.0,7.00,10.0
OverallCond,1460.0,5.575342,1.112799,1.0,5.00,5.0,6.00,9.0
YearBuilt,1460.0,1971.267808,30.202904,1872.0,1954.00,1973.0,2000.00,2010.0
YearRemodAdd,1460.0,1984.865753,20.645407,1950.0,1967.00,1994.0,2004.00,2010.0
MasVnrArea,1452.0,103.685262,181.066207,0.0,0.00,0.0,166.00,1600.0
BsmtFinSF1,1460.0,443.639726,456.098091,0.0,0.00,383.5,712.25,5644.0
BsmtFinSF2,1460.0,46.549315,161.319273,0.0,0.00,0.0,0.00,1474.0
BsmtUnfSF,1460.0,567.240411,441.866955,0.0,223.00,477.5,808.00,2336.0
TotalBsmtSF,1460.0,1057.429452,438.705324,0.0,795.75,991.5,1298.25,6110.0
1stFlrSF,1460.0,1162.626712,386.587738,334.0,882.00,1087.0,1391.25,4692.0
2ndFlrSF,1460.0,346.992466,436.528436,0.0,0.00,0.0,728.00,2065.0
LowQualFinSF,1460.0,5.844521,48.623081,0.0,0.00,0.0,0.00,572.0
GrLivArea,1460.0,1515.463699,525.480383,334.0,1129.50,1464.0,1776.75,5642.0
BsmtFullBath,1460.0,0.425342,0.518911,0.0,0.00,0.0,1.00,3.0
BsmtHalfBath,1460.0,0.057534,0.238753,0.0,0.00,0.0,0.00,2.0
FullBath,1460.0,1.565068,0.550916,0.0,1.00,2.0,2.00,3.0
HalfBath,1460.0,0.382877,0.502885,0.0,0.00,0.0,1.00,2.0
BedroomAbvGr,1460.0,2.866438,0.815778,0.0,2.00,3.0,3.00,8.0
KitchenAbvGr,1460.0,1.046575,0.220338,0.0,1.00,1.0,1.00,3.0
TotRmsAbvGrd,1460.0,6.517808,1.625393,2.0,5.00,6.0,7.00,14.0
Fireplaces,1460.0,0.613014,0.644666,0.0,0.00,1.0,1.00,3.0
GarageYrBlt,1379.0,1978.506164,24.689725,1900.0,1961.00,1980.0,2002.00,2010.0
GarageCars,1460.0,1.767123,0.747315,0.0,1.00,2.0,2.00,4.0
GarageArea,1460.0,472.980137,213.804841,0.0,334.50,480.0,576.00,1418.0
WoodDeckSF,1460.0,94.244521,125.338794,0.0,0.00,0.0,168.00,857.0
OpenPorchSF,1460.0,46.660274,66.256028,0.0,0.00,25.0,68.00,547.0
EnclosedPorch,1460.0,21.954110,61.119149,0.0,0.00,0.0,0.00,552.0
3SsnPorch,1460.0,3.409589,29.317331,0.0,0.00,0.0,0.00,508.0
ScreenPorch,1460.0,15.060959,55.757415,0.0,0.00,0.0,0.00,480.0
PoolArea,1460.0,2.758904,40.177307,0.0,0.00,0.0,0.00,738.0
MiscVal,1460.0,43.489041,496.123024,0.0,0.00,0.0,0.00,15500.0
MoSold,1460.0,6.321918,2.703626,1.0,5.00,6.0,8.00,12.0
YrSold,1460.0,2007.815753,1.328095,2006.0,2007.00,2008.0,2009.00,2010.0

In [12]:
# Target column
target = df_summary['target']
target

0       208500
1       181500
2       223500
3       140000
4       250000
         ...
1455    175000
1456    210000
1457    266500
1458    142125
1459    147500
Name: SalePrice, Length: 1460, dtype: int64

<h3>Preprocessing</h3>
<ul>
    <li>Drop Duplicates
<li>Drop Columns with more than 80% null values</li>
<li>Drop uninformative columns</li>
<li>Drop Columns with single unique values</li>
<li>Inpute Null Values</li>
<li>Create New Features</li>
<li>Outlier Analysis and Removal</li>
<li>Drop Columns with single unique values again after outlier analysis</li>
</ul>

<h4>Drop Duplicates</h4>

In [13]:
#drop duplicates
df = df_summary["features"]
cleaned_df = df.drop_duplicates(subset=["Id"])
new_test_df = test_df.drop_duplicates(subset=["Id"])
print("Total Duplicates were ", len(df) - len(cleaned_df))

Total Duplicates were  0

In [14]:
# Drop uninformative columns
cleaned_df.drop(["Id"], axis=1, inplace=True)
new_test_df.drop(["Id"], axis = 1, inplace=True)
print(cleaned_df.shape)
print(new_test_df.shape)

(1460, 79)
(1459, 79)

In [15]:
# drop columns with single unique value
df_summary['unique_df'][df_summary['unique_df']['Count']==1]

Empty DataFrame
Columns: [Feature, Unique, Count]
Index: []

In [16]:
# impute nan values
col_null_df = df_summary["col_null_df"]

In [17]:
col_null_df

          Column         Type  Total NaN          %
0    LotFrontage    Numerical        259  17.739726
1          Alley  Categorical       1369  93.767123
2     MasVnrType  Categorical        872  59.726027
3     MasVnrArea    Numerical          8   0.547945
4       BsmtQual  Categorical         37   2.534247
5       BsmtCond  Categorical         37   2.534247
6   BsmtExposure  Categorical         38   2.602740
7   BsmtFinType1  Categorical         37   2.534247
8   BsmtFinType2  Categorical         38   2.602740
9     Electrical  Categorical          1   0.068493
10   FireplaceQu  Categorical        690  47.260274
11    GarageType  Categorical         81   5.547945
12   GarageYrBlt    Numerical         81   5.547945
13  GarageFinish  Categorical         81   5.547945
14    GarageQual  Categorical         81   5.547945
15    GarageCond  Categorical         81   5.547945
16        PoolQC  Categorical       1453  99.520548
17         Fence  Categorical       1179  80.753425
18   MiscFeature  Categorical       1406  96.301370

In [18]:
# null values in test_df
test_null_df = get_null_df(new_test_df)
test_null_df

          Column         Type  Total NaN          %
0       MSZoning  Categorical          4   0.274160
1    LotFrontage    Numerical        227  15.558602
2          Alley  Categorical       1352  92.666210
3      Utilities  Categorical          2   0.137080
4    Exterior1st  Categorical          1   0.068540
5    Exterior2nd  Categorical          1   0.068540
6     MasVnrType  Categorical        894  61.274846
7     MasVnrArea    Numerical         15   1.028101
8       BsmtQual  Categorical         44   3.015764
9       BsmtCond  Categorical         45   3.084304
10  BsmtExposure  Categorical         44   3.015764
11  BsmtFinType1  Categorical         42   2.878684
12    BsmtFinSF1    Numerical          1   0.068540
13  BsmtFinType2  Categorical         42   2.878684
14    BsmtFinSF2    Numerical          1   0.068540
15     BsmtUnfSF    Numerical          1   0.068540
16   TotalBsmtSF    Numerical          1   0.068540
17  BsmtFullBath    Numerical          2   0.137080
18  BsmtHalfBath    Numerical          2   0.137080
19   KitchenQual  Categorical          1   0.068540
20    Functional  Categorical          2   0.137080
21   FireplaceQu  Categorical        730  50.034270
22    GarageType  Categorical         76   5.209047
23   GarageYrBlt    Numerical         78   5.346127
24  GarageFinish  Categorical         78   5.346127
25    GarageCars    Numerical          1   0.068540
26    GarageArea    Numerical          1   0.068540
27    GarageQual  Categorical         78   5.346127
28    GarageCond  Categorical         78   5.346127
29        PoolQC  Categorical       1456  99.794380
30         Fence  Categorical       1169  80.123372
31   MiscFeature  Categorical       1408  96.504455
32      SaleType  Categorical          1   0.068540

In [20]:
# create imputation function
def imputation(null_df, df):
    """
       Impute missing values in the DataFrame based on the column type.

    Parameters:
    null_df (DataFrame): DataFrame containing columns to impute and their types.
    df (DataFrame): The main DataFrame where missing values will be filled.

    Returns:
    DataFrame: The DataFrame with missing values imputed.
    """
    for ind, row in null_df.iterrows():
        col = row["Column"]
        if col in df.columns:
            if row["Type"] == "Categorical":
                # Fill Missing Categorical values with NotAvail
                df[col].fillna("NotAvail", inplace=True)
            else:
                df[col].fillna(df[col].median(), inplace=True)
        else:
             print(f"Warning: Column '{col}' not found in the DataFrame.")
    return df

In [21]:
null_df = col_null_df
cleaned_df = imputation(null_df, cleaned_df)
new_test_df = imputation(test_null_df, new_test_df)
# Print shapes of cleaned DataFrames
print("Cleaned DataFrame shape:", cleaned_df.shape)
print("New Test DataFrame shape:", new_test_df.shape)

Cleaned DataFrame shape: (1460, 79)
New Test DataFrame shape: (1459, 79)

/tmp/ipykernel_3507/2583736311.py:20: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].median(), inplace=True)
/tmp/ipykernel_3507/2583736311.py:18: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna("NotAvail", inplace=True)
/tmp/ipykernel_3507/2583736311.py:20: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].median(), inplace=True)
/tmp/ipykernel_3507/2583736311.py:18: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna("NotAvail", inplace=True)
/tmp/ipykernel_3507/2583736311.py:20: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].median(), inplace=True)
/tmp/ipykernel_3507/2583736311.py:18: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna("NotAvail", inplace=True)
/tmp/ipykernel_3507/2583736311.py:20: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].median(), inplace=True)
/tmp/ipykernel_3507/2583736311.py:18: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna("NotAvail", inplace=True)
/tmp/ipykernel_3507/2583736311.py:20: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].median(), inplace=True)
/tmp/ipykernel_3507/2583736311.py:18: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna("NotAvail", inplace=True)
/tmp/ipykernel_3507/2583736311.py:20: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].median(), inplace=True)
/tmp/ipykernel_3507/2583736311.py:18: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna("NotAvail", inplace=True)
/tmp/ipykernel_3507/2583736311.py:20: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].median(), inplace=True)
/tmp/ipykernel_3507/2583736311.py:20: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].median(), inplace=True)
/tmp/ipykernel_3507/2583736311.py:20: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].median(), inplace=True)
/tmp/ipykernel_3507/2583736311.py:20: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].median(), inplace=True)
/tmp/ipykernel_3507/2583736311.py:20: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].median(), inplace=True)
/tmp/ipykernel_3507/2583736311.py:18: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna("NotAvail", inplace=True)
/tmp/ipykernel_3507/2583736311.py:20: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].median(), inplace=True)
/tmp/ipykernel_3507/2583736311.py:18: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna("NotAvail", inplace=True)
/tmp/ipykernel_3507/2583736311.py:20: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].median(), inplace=True)
/tmp/ipykernel_3507/2583736311.py:20: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].median(), inplace=True)
/tmp/ipykernel_3507/2583736311.py:18: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna("NotAvail", inplace=True)

In [23]:
#verify the cleaned columns
cleaned_df.columns[cleaned_df.isna().any()]
new_test_df.columns[new_test_df.isna().any()]

Index([], dtype='object')

<h4>Create New Features</h4>

- There are columns with the year. Years are not    informative, so we need to transform it.

- We will perform binning on those year column to divide it into decades and will make it categorical.

- We will also calculate the age of house on the basis of different columns.

In [24]:
print("Min & Max of YearBuilt ", cleaned_df['YearBuilt'].min(), cleaned_df['YearBuilt'].max())
print("\nMin & Max of GarageYrBlt ", cleaned_df['GarageYrBlt'].min(), cleaned_df['GarageYrBlt'].max())
print("\nMin & Max of YrSold ", cleaned_df['YrSold'].min(), cleaned_df['YrSold'].max())
print("\nMin & Max of YearRemodAdd ", cleaned_df['YearRemodAdd'].min(), cleaned_df['YearRemodAdd'].max())

Min & Max of YearBuilt  1872 2010

Min & Max of GarageYrBlt  1900.0 2010.0

Min & Max of YrSold  2006 2010

Min & Max of YearRemodAdd  1950 2010

In [25]:
# count units built before the year 1900
cleaned_df[cleaned_df["YearBuilt"] < 1900]["YearBuilt"].count()

np.int64(15)

In [26]:
#in the year 1900
cleaned_df[cleaned_df['YearBuilt']==1900]['YearBuilt'].count()

np.int64(10)

We will make categories

- 1800-1900
- 1900-1910
- 1910-1920

- ...

- 2000-2010
- Column 'YrSold' has all the values between 2006 to 2010 so all of its will fall into a single category 2000-2010.

- Hence we will delete YrSold in further steps coz it won't be giving us any information (because of no variance)